.bargraph {
  margin-top: 16px;
  position: relative;
  width: 100%;
  height: 10px;
}

.bar {
  position: relative;
  background-color: var(--rmd-theme-background);
  height: 100%;
  border-radius: 2px;
  overflow: hidden;
}

.actBar {
  position: absolute; /* Necessario per usare left */
  background-color: rgb(116, 94, 47); /* Colore della barra */
  height: 100%; /* Assicura che la barra occupi tutta l'altezza */
  transition: width 0.3s ease, left 0.3s ease; /* Transizione fluida */
}

.setpoint {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: var(--rmd-theme-primary);
}

.setact {
  padding: 16px 16px 32px 16px;
}

.title {
  margin-bottom: 16px;
}

.outputField {
  display: flex;
  justify-content: space-between; /* Posiziona Set a sinistra e Act a destra */
  align-items: baseline; /* Allinea verticalmente i valori */
  text-align: left;
  gap: 1rem; /* Spazio tra i due blocchi */
}

.setField {
  display: flex;
  flex-direction: row; /* Posiziona valore e unità sulla stessa linea */
  align-items: baseline; /* Allinea verticalmente il valore e l'unità */
  gap: 0.25rem; /* Spazio tra valore e unità */
}

.actField {
  display: flex;
  flex-direction: row; /* Posiziona valore e unità sulla stessa linea */
  align-items: baseline; /* Allinea verticalmente il valore e l'unità */
  gap: 0.25rem; /* Spazio tra valore e unità */
}

.actValue {
  font-size: 2rem;
}

.setValue {
  font-size: 1.5rem;
  color: var(--rmd-theme-primary);
}

.actUnit {
  font-size: 1rem;
}

.setUnit {
  font-size: 0.8rem;
  color: var(--rmd-theme-primary);
}

.labels {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  font-size: 0.8rem;
  color: var(rmd-typography--secondary);
}

.min,
.max,
.zero {
  position: relative;
}

.zero {
  position: absolute; /* Necessario per usare left */
  transform: translateX(-50%); /* Centra lo zero rispetto alla posizione */
  font-size: 0.8rem;
  color: var(--rmd-typography-secondary);
}