
version: '3.8'

name: Amarillo

services:
  frontend:
    build: ./frontend
    volumes:
      - C:\Proj\React\AMARILLO\client:/app
    expose:
      - "3000"
    networks:
      - appnet

  backend:
    build: ./backend
    volumes:
      - C:\Proj\React\AMARILLO\server:/app
    expose:
      - "3001"
    networks:
      - appnet

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - C:\Proj\React\AMARILLO\.docker\nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - appnet

  mosquitto:
    image: eclipse-mosquitto
    ports:
      - "1883:1883"
    volumes:
      - C:\Proj\React\AMARILLO\.docker\mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
    networks:
      - appnet

  postgres:
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_DB=green
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgrespw
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - appnet

networks:
  appnet:
    driver: bridge

volumes:
  postgres_data:
    driver: local
